<div id="menu_nav" class="menu long accordion-item" size="long" pos="left" iddrag="menu">
    <div class="accordion-header" id="menu_nav_header">
        <div class="accordion-button" aria-expanded="true">
            <div class="content_action_buttons buttons_action_container_right">
                <button class="btn button-tertiary button-narrow button_nav_action action_move_prev" title="{{ "Move up" | trans }}">
                    <div class="small-icon chevron-up-icon">
                </button>
                <button class="btn button-tertiary button-narrow button_nav_action action_move_next" title="{{ "Move down" | trans }}">
                    <div class="small-icon chevron-down-icon">
                </button>
                <button class="btn button-tertiary button-narrow button_nav_action action_move_up" title="{{ "Move left (up in hierarchy)" | trans }}">
                    <div class="small-icon chevron-left-icon">
                </button>
                <button class="btn button-tertiary button-narrow button_nav_action action_move_down" title="{{ "Move right (down in hierarchy)" | trans }}">
                    <div class="small-icon chevron-right-icon">
                </button>
            </div>
            <div class="content_action_buttons buttons_action_container_left" id="nav_actions">
                <button class="button_nav_action action_properties d-none" title="{{ "Page properties" | trans }}">
                    <span class="exe-icon" aria-hidden="true">settings</span><span class="visually-hidden">{{ "Page properties" | trans }}</span>
                </button>
                <button class="btn button-tertiary button-square button_nav_action action_delete" title="{{ "Delete page" | trans }}">
                    <div class="small-icon delete-icon">
                </button>
                <button class="btn button-tertiary button-square button_nav_action action_clone" title="{{ "Clone page" | trans }}">
                    <div class="small-icon duplicate-icon">
                </button>
                <button class="btn button-tertiary button-square button_nav_action action_import_idevices" title="{{ "Import iDevices" | trans }}">
                    <div class="small-icon import-icon">
                </button>
                <!--<button class="button_nav_action action_check_broken_links" title="{{ "Check links" | trans }}">
                    <span class="exe-icon" aria-hidden="true">playlist_add_check</span><span class="visually-hidden">{{ "Check links" | trans }}</span>
                </button>-->
            </div>      
            <div class="content_action_buttons add-page">
                <button class="button_nav_action action_add" title="{{ "New page" | trans }}">
                    <span class="exe-icon" aria-hidden="true">add</span>
                </button>
            </div>
        </div>
    </div>
    <div id="menu_nav_content" class="menu_content accordion-collapse collapse show" aria-labelledby="menu_nav_header">
        <div id="nav_list">
            <div id="nav_document_root_node"></div>
        </div>
    </div>
</div>
