<div id="menu_nav" class="menu long accordion-item" size="long" pos="left" iddrag="menu">
    <div class="accordion-header" id="menu_nav_header">
        <div class="accordion-button">
            <div class="content_action_buttons buttons_action_container_right">
                <button class="btn button-secondary secondary-green button-narrow button-combo combo-left button_nav_action action_move_prev" title="{{ "Move up" | trans }}">
                    <span class="small-icon arrow-up-icon-green"></span>
                </button>
                <button class="btn button-secondary secondary-green button-narrow button-combo combo-center button_nav_action action_move_next" title="{{ "Move down" | trans }}">
                    <span class="small-icon arrow-down-icon-green"></span>
                </button>
                <button class="btn button-secondary secondary-green button-narrow button-combo combo-center button_nav_action action_move_up" title="{{ "Move left (up in hierarchy)" | trans }}">
                    <span class="small-icon arrow-left-icon-green"></span>
                </button>
                <button class="btn button-secondary secondary-green button-narrow button-combo combo-right button_nav_action action_move_down" title="{{ "Move right (down in hierarchy)" | trans }}">
                    <span class="small-icon arrow-right-icon-green"></span>
                </button>
            </div>
            <div class="content_action_buttons buttons_action_container_left" id="nav_actions">
                <button class="button_nav_action action_properties d-none" title="{{ "Page properties" | trans }}">
                    <span class="exe-icon" aria-hidden="true">settings</span><span class="visually-hidden">{{ "Page properties" | trans }}</span>
                </button>
                <button class="btn button-secondary secondary-green button-square button-combo combo-left button_nav_action action_delete" title="{{ "Delete page" | trans }}">
                    <span class="small-icon delete-icon-green"></span>
                </button>
                <button class="btn button-secondary secondary-green button-square button-combo combo-center button_nav_action action_clone" title="{{ "Clone page" | trans }}">
                    <span class="small-icon duplicate-icon-green"></span>
                </button>
                <button class="btn button-secondary secondary-green button-square button-combo combo-right button_nav_action action_import_idevices" title="{{ "Import iDevices" | trans }}">
                    <span class="small-icon import-icon-green"></span>
                </button>
                <!--<button class="button_nav_action action_check_broken_links" title="{{ "Check links" | trans }}">
                    <span class="exe-icon" aria-hidden="true">playlist_add_check</span><span class="visually-hidden">{{ "Check links" | trans }}</span>
                </button>-->
            </div>
            <div class="content_action_buttons add-page">
                <button class="button_nav_action action_add" title="{{ "New page" | trans }}" aria-label="{{ "New page" | trans }}">
                    <span class="exe-icon" aria-hidden="true">add</span>
                </button>
            </div>
        </div>
    </div>
    <div id="menu_nav_content" class="menu_content accordion-collapse collapse show" aria-labelledby="menu_nav_header">
        <div id="nav_list" role="tree">
            <div id="nav_document_root_node"></div>
        </div>
    </div>
</div>
