<div class="top" id="eXeLearningNavbar">
    <div class="main-menu">
        <div class="main-menu-left">
            {# Site navigation #}
            {% include 'workarea/menus/menuNavbar.html.twig' %}
        </div>
        <div class="main-menu-right">
            {#
            <button id="head-top-project-properties-button" class="btn" title="{{ "Properties" | trans }}">
                <span class="auto-icon" aria-hidden="true">article</span>
                <span class="visually-hidden">{{ "Properties" | trans }}</span>
            </button>
            #}
            {# Download button can't be deleted, hidden instead #}
            <button id="head-top-download-button" class="btn d-none d-lg-inline-flex align-items-center" title="{{ "Download" | trans }}">
                <span class="auto-icon" aria-hidden="true">download</span>
                <span class="btn-label">{{ "Download" | trans }}</span>
            </button>
            <button id="head-top-save-button" class="btn button-display d-flex justify-content-center align-items-center" title="{{ "Save" | trans }}">
                <div class="small-icon save-icon-white"></div>
                <span>{{ "Save" | trans }}</span>
            </button>
            <button id="head-bottom-preview" class="btn button-display display-outline button-square d-flex justify-content-center align-items-center" title="{{ "Preview" | trans }}">
                <div class="small-icon preview-icon-green"></div>
            </button>
            <button id="dropdownStyles" class="btn button-tertiary button-square d-none d-lg-inline-flex justify-content-center align-items-center" title="{{ "Styles" | trans }}">
                <span class="medium-icon styles-icon"></span>
            </button>
            <button id="head-top-settings-button" class="btn button-tertiary button-square d-none d-lg-inline-flex justify-content-center align-items-center" title="{{ "Settings" | trans }}">
                <span class="medium-icon settings-icon"></span>
            </button>
            <button id="head-top-share-button" class="btn button-tertiary button-square d-none d-lg-inline-flex justify-content-center align-items-center exe-online" title="{{ "Share" | trans }}">
                <span class="medium-icon share-icon"></span>
            </button>
            <div id="exe-last-edition" class="btn d-none d-lg-inline-flex">
                <span class="content"></span>
            </div>
            <div id="exe-concurrent-users" class="exe-online d-none d-lg-inline-flex">
                <button id="button-more-exe-concurrent-users" class="btn button-tertiary button-square d-flex justify-content-center align-items-center" title="{{ "Users online" | trans }}">
                    <span class="medium-icon concurrent-users-icon"></span>
                </button>
            </div>
            {#
            <button id="exe-mode-check" class="btn" title="{{ "Mode" | trans }}">
                <span class="auto-icon" aria-hidden="true">visibility</span>
                <span class="btn-label">{{ "Mode" | trans }}</span>
            </button>
            <button id="head-bottom-logout-button" class="btn exe-online" title="{{ "Logout" | trans }}">
                <span class="auto-icon" aria-hidden="true">logout</span>
                <span class="btn-label">{{ "Logout" | trans }}</span>
            </button>
            #}
            {# User menu #}
            <div id="head-bottom-user-logged" class="dropdown" title="{{ user.username }}">
                <button class="btn btn-link" type="button" id="exeUserMenuToggler" data-bs-toggle="dropdown" aria-expanded="false" title="{{ "User menu" | trans }}">
                    {% if user.gravatarUrl %}
                    <img class="exe-gravatar" src="{{ user.gravatarUrl }}" alt="{{ user.username }}" width="50" height="50">
                    {% else %}
                    <span class="exe-avatar" title="{{ user.username }}">{{ user.usernameFirsLetter }}</span>
                    {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="exeUserMenuToggler">
                    <li><a class="dropdown-item" id="navbar-button-preferences" href="#">{{ "Preferences" | trans }}</a></li>
                    <li class="dropdown-divider d-lg-none"></li>
                    <li class="d-lg-none">
                        <button class="dropdown-item" type="button" data-mobile-collapse="#workarea-navbar-menu" data-mobile-action="toggle" data-mobile-focus="#dropdownFile">{{ "Menu" | trans }}</button>
                    </li>
                    <li class="d-lg-none">
                        <button class="dropdown-item" type="button" data-mobile-forward="#head-top-download-button">{{ "Download" | trans }}</button>
                    </li>
                    <li class="d-lg-none">
                        <button class="dropdown-item" type="button" data-mobile-forward="#dropdownStyles">{{ "Styles" | trans }}</button>
                    </li>
                    <li class="d-lg-none">
                        <button class="dropdown-item" type="button" data-mobile-forward="#head-top-settings-button">{{ "Settings" | trans }}</button>
                    </li>
                    <li class="d-lg-none">
                        <button class="dropdown-item exe-online" type="button" data-mobile-forward="#head-top-share-button">{{ "Share" | trans }}</button>
                    </li>
                    <li class="d-lg-none">
                        <button class="dropdown-item" type="button" data-mobile-forward="#button-more-exe-concurrent-users">{{ "Users online" | trans }}</button>
                    </li>
                    <li class="dropdown-divider"></li>
                    {% if config.isOfflineInstallation %}
                    <li><a class="dropdown-item" id="head-bottom-logout-button" href="#">{{ "Exit" | trans }}</a></li>
                    {% else %}
                    <li><a class="dropdown-item" id="head-bottom-logout-button" href="#">{{ "Logout" | trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
